.card {
    margin-top: 100px;
    padding: 0 16px;
    min-height: 566px;
}

.card_image {
    margin: 0 auto;
    width: calc(100% - 62px);
    display: block;
}

.card_description {
    margin-top: -53px;
    padding: 32px 31px;
    background: $dark-purple;
    position: absolute;
    width: calc(100% - 94px);
}

.card_title {
    font-family: $main-font-2;
    font-weight: $semi-bold;
    font-style: normal;
    font-size: $font-size-g;
    line-height: 1.25;
    color: $white;
    text-align: center;
    margin-bottom: 16px;
}

.card_text {
    font-family: $main-font;
    line-height: 1.375;
    text-align: center;
    color: $white;
    margin-bottom: 24px;
}

.card_button {
    @include primary-button;

    display: flex;
    width: max-content;
    margin: 0 auto;
}