.footer {
  margin: 74px 0 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 58px;
  flex-direction: column;

  @media (min-width: $t) {
    margin: 80px 0 122px;
  }

  @media (min-width: $d) {
    margin: 60px 0 110px;
  }
}

.footer_network {
  display: flex;
  align-items: center;
  gap: 28px;
}
