.learn-more {
  display: flex;
  justify-content: center;
  position: relative;

  &_top {
    background-color: $dark-purple;
    position: relative;
    box-sizing: border-box;

    &::after {
      content: url("../../../assets/images/slice-1-background.svg");
      display: block;
    }
  }

  @media (min-width: $t) {
    background-image: url(../../../assets/images/background-1-tablet.svg);
    padding-bottom: 216px;
  }

  @media (min-width: $d) {
    background-image: url(../../../assets/images/background-1-desktop.svg);
    padding-bottom: 0px;
  }

  &_info {
    padding: 0 16px 172px 16px;

    @media (min-width: $d) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &_title {
    text-align: center;
    font-family: $main-font-2;
    font-weight: $semi-bold;
    font-size: 50px;
    line-height: 1;
    color: $white;
    margin-bottom: 40px;

    span {
      border-bottom: 3px solid $eucaplyptus;
    }

    @media (min-width: $t) {
      max-width: 437px;
      margin: 0 auto 40px;
    }

    @media (min-width: $d) {
      max-width: 650px;
      font-size: $font-size-tt;
      margin: 0 auto 37px;
    }
  }

  &_button {
    @include primary-button;

    display: block;
    width: max-content;
    margin: 0 auto;

    @media (min-width: $d) {
      font-size: $font-size-l;
    }
  }

  &_image {
    width: 85.33%;
    margin: 0 auto;
    padding: 0 3px 0 16px;
    position: absolute;
    bottom: -91px;

    @media (min-width: $t) {
      margin-top: 55px;
      padding: 0 87px 0 135px;
      width: 67.35%;
    }

    @media (min-width: $d) {
      max-width: 767px;
      position: relative;
      margin-top: 50px;
    }
  }
}

.logo-button {
  display: flex;
  justify-content: space-between;
  padding: 32px 16px 64px;

  @media (min-width: $t) {
    padding: 32px 40px 56px;
  }

  @media (min-width: $t) {
    padding: 56px 165px 55px;
  }

  &_button {
    @include secondary-button;
  }
}
